.element__button {
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/like.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  transition: opacity 0.5s linear;
}

.element__button:hover {
  opacity: 0.5;
}

.element__button:active {
  background-image: url(../../../images/likedark.svg);
  outline: none;
  cursor: pointer;
  opacity: 1;
}
