.profile__avatar {
  width: 120px;
  height: 120px;
  background-image: url(../../../images/Жак-Ив\ Кусто.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 30px;
}
