.page__container {
  margin: 0 200px;
}

@media (max-width: 1200px) {
  .page__container {
    margin: 0 150px;
  }
}

@media (max-width: 1000px) {
  .page__container {
    margin: 0 50px;
  }
}

@media (max-width: 800px) {
  .page__container {
    margin: 0 19px;
  }
}
